<!DOCTYPE html>
<html>
    <p>
        {
            "a" : "hello"
        };
    </p>
    <script>
        var j = {
            "a" : "hello"
        };
        document.write(j);
        console.log(j);
    </script>
</html>